<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Marshmallow Bootstrap Admin Dashboard Template</title>
	<link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/owl.carousel/css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/owl.carousel/css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/aos/css/aos.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/jquery-flipster/css/jquery.flipster.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<div id="mobile-menu-overlay"></div>
	<nav class="navbar navbar-expand-lg fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#"><img src="{% static 'images/logo.svg' %}" alt="Marshmallow"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
				aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"><i class="mdi mdi-menu"> </i></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<div class="d-lg-none d-flex justify-content-between px-4 py-3 align-items-center">
					<img src="images/logo-dark.svg" class="logo-mobile-menu" alt="logo">
					<a href="javascript:;" class="close-menu"><i class="mdi mdi-close"></i></a>
				</div>
				
				{% comment %} <h1>{{status}}</h1> {% endcomment %}
				<ul class="navbar-nav ml-auto align-items-center">
					<li class="nav-item active">
						<a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#services">Prediction</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#about">About</a>
					</li>
					
				</ul>
			</div>
		</div>
	</nav>
	<div class="page-body-wrapper">
		<section id="home" class="home">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="main-banner">
							<div class="d-sm-flex justify-content-between">
								<div data-aos="zoom-in-up">
									<div class="banner-title">
										<h3 class="font-weight-medium">Find
											Chances of your survival
											at Sinking of the RMS Titanic
										</h3>
									</div>
									<p class="mt-3">This is the predicting model

										<br>
										which uses logistic regression model
									</p>
									<a href="#" class="btn btn-secondary mt-3">Predict</a>
								</div>
								<div class="mt-5 mt-lg-0">
									<lottie-player id="alis" src="https://assets4.lottiefiles.com/packages/lf20_Pq51ZX.json"
										background="transparent" speed="1" style="width: 436px; height: 436px;" loop
										autoplay></lottie-player>

										<img id="status" src="http://clipart-library.com/images/8cEbeRpni.jpg" style="width:100px;height:100px;">
										
										{% comment %} <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_eo1xhbox.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay></lottie-player> {% endcomment %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="our-services my-5" id="services" >
			<div class="container">
				<h3>Enter your details</h3>
				<div class="row">
					<div class="col-sm-6">
						<form method="POST" action="{% url 'index' %}">
							{% csrf_token %}
							<br>
							<div class="form-group">
								<label for="pclass">Ticket class</label>
								<select class="form-control" aria-label="Default select example" name="pclass">
									<option selected>--- Select class ---</option>
									<option value="1">First class</option>
									<option value="2">Second class</option>
									<option value="3">Third class</option>
							  	</select>
							</div>
							
							<div class="form-group">
								<label for="SibSp"># of siblings / spouses aboard the Titanic</label>
								<input type="number" class="form-control" id="sib"
									placeholder="# of siblings / spouses aboard the Titanic" name="sib">
							</div>
							<div class="form-group">
								<label for="Parch"># of parents / children aboard the Titanic</label>
								<input type="number" class="form-control" id="par"
									placeholder="# of parents / children aboard the Titanic" name="par">
							</div>
							<label for="Sex">Sex</label>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="gender" id="flexRadioDefault1" value="1"
									style="width:15px ; height:15px">
								<label class="form-check-label" for="flexRadioDefault1">
									Female
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="gender" id="flexRadioDefault2" value="0"
									style="width:15px ; height:15px" checked>
								<label class="form-check-label" for="flexRadioDefault2">
									Male
								</label>
							</div>
							<br>
							<div class="form-group">
								<label for="Embarked">Port of Embarkation</label>
								
								<select class="form-control" aria-label="Default select example" name="emb">
									<option selected>--- Select Embarked ---</option>
									<option value="0">Southampton</option>
									<option value="1">Cherbourg</option>
									<option value="2">Queenstown</option>
							  	</select>
							</div>
							<button type="submit" class="btn btn-primary">Start Predict</button>
							<form>
					</div>


					<div class="col-sm-6">

						{% comment %} photo {% endcomment %}
						<center><lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_GjhcdO.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay></lottie-player></center>


					</div>
				</div>
			</div>
		</section>
	</div>

	<script src="{% static 'vendors/base/vendor.bundle.base.js' %}"></script>
	<script src="{% static 'vendors/owl.carousel/js/owl.carousel.js' %}"></script>
	<script src="{% static 'vendors/aos/js/aos.js' %}"></script>
	<script src="{% static 'vendors/jquery-flipster/js/jquery.flipster.min.js' %}"></script>
	<script src="{% static 'js/template.js' %}"></script>
	<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	
	<script>
        window.onload = function exampleFunction() {
            
    		
			if ( {{status}} == -1) {
				document.getElementById("status").src = "https://di5qs4dv32t01.cloudfront.net/wp-content/uploads/2022/01/Missing-woman-software-employee-found-dead-in-Vijayawada.jpg";
				
			}
			if ( {{status}} == 1) {
				document.getElementById("status").src = "https://memegenerator.net/img/instances/60839615.jpg";

			}
			

        }
    </script>

</body>

</html>